<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GoodscartsMapper">
  <resultMap id="BaseResultMap" type="com.bean.Goodscarts">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, u_id, sku_id, number
  </sql>
  <select id="selectByExample" parameterType="com.bean.GoodscartsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodscarts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodscarts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodscarts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.GoodscartsExample">
    delete from goodscarts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.Goodscarts">
    insert into goodscarts (id, u_id, sku_id, 
      number)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.Goodscarts">
    insert into goodscarts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="number != null">
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.GoodscartsExample" resultType="java.lang.Long">
    select count(*) from goodscarts
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goodscarts
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.skuId != null">
        sku_id = #{record.skuId,jdbcType=INTEGER},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goodscarts
    set id = #{record.id,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      sku_id = #{record.skuId,jdbcType=INTEGER},
      number = #{record.number,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.Goodscarts">
    update goodscarts
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.Goodscarts">
    update goodscarts
    set u_id = #{uId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  
  
  
  <resultMap id="DetailsResultMap" type="com.bean.Goodscarts">
    <id column="cartid" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <association property="goodsSku" javaType="GoodsSku">
    	<id column="skuid" jdbcType="INTEGER" property="id" />
	    <result column="spu_id" jdbcType="INTEGER" property="spuId" />
	    <result column="skuname" jdbcType="VARCHAR" property="name" />
	    <result column="price" jdbcType="DOUBLE" property="price" />
	    <result column="inventory" jdbcType="INTEGER" property="inventory" />
	    <result column="skuimage" jdbcType="VARCHAR" property="image" />
	    <result column="salesvolume" jdbcType="INTEGER" property="salesvolume" />
	    <association property="goodsSpu" javaType="GoodsSpu">
			 <id column="spuid" jdbcType="INTEGER" property="id" />
		    <result column="spuname" jdbcType="VARCHAR" property="name" />
		    <result column="spuimage" jdbcType="VARCHAR" property="image" />
		</association>
    </association>
  </resultMap>
  
  <sql id="Details_Column_List">
    goodscarts.id,goodscarts.id cartid, u_id, sku_id, number,
    goods_sku.id skuid, goods_sku.spu_id , goods_sku.name skuname, goods_sku.price, goods_sku.image skuimage, 
     goods_spu.id spuid ,goods_spu.name spuname ,goods_spu.image spuimage 
  </sql>
  <select id="selectWithDetailsByExample" parameterType="com.bean.GoodscartsExample" resultMap="DetailsResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Details_Column_List" />
    from goodscarts JOIN goods_sku JOIN goods_spu 
    ON goodscarts.sku_id=goods_sku.id AND goods_sku.spu_id=goods_spu.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  
  
</mapper>